header {
  padding: 20px;
  background-color: $themeColor;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  h3 {
    float: left;
  }

  ul {
    float: right;
    list-style-type: none;
    display: inline-block;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        color: #fff;
        opacity: 0.6;
      }
    }
  }

  .clear {
    clear: both;
  }
}
